.secao {
  float: left;
  width: 100%;
}

.mini {
  float: left;
  width: 50%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.logo {
  padding: 0 1%;
}

img {
  max-width: 100%;
}

.logo,
.busca,
.barra-nav,
.menu-principal {
  display: inline-block;
  vertical-align: middle;
}

.menu-principal li {
  float: left;
}

header {
  padding: 1em 1em;
}

.destaques {
  margin-top: 2em;
}

.barra-nav {
  margin: 2em 1em;
}

@media (min-width: 600px) {
  html {
    font-size: 1.125em;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 1.25;
  }
}

@media (min-width: 600px) {
  .secao {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .secao {
    width: 33.333%;
  }
}
